<div class="list-group sortable">
    <div class="row d-flex w-100">
        <input name="questionID${question.number}" value="${question.ID}" hidden/>
        <h5 class="col-md-7">${question.text} <#if question.mandatory> (*)</#if></h5>
        <p>
            <b class="mr-2">Note: </b>
            ${question.note}
        </p>
    </div>
    <div class="form-group">
        <textarea placeholder="Risposta" name="response${question.number}" type="text" class="form-control classePart" id="FormControlSup" rows="3"></textarea>
    </div>
</div>
