.bd-buttons {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%
}

.my-button {
  width: 100%;
  position: relative;
}

.user-icon {
  position: absolute;
  left: 90%;
  font-size: 30px;
  top: 38%;
}

.edit-icon {
  position: absolute;
  left: 93%;
  font-size: 30px;
  top: 38%;
}

.cross-icon {
  position: absolute;
  left: 96%;
  font-size: 30px;
  top: 38%;
  color: red;
}
