<button style="margin-top:6px" type="button" class="btn btn-secondary prova" data-toggle="modal" data-target="#firstModal">
    Crea sondaggio
</button>
<button style="margin-top:6px" type="button" class="btn btn-secondary prova" data-toggle="modal" data-target="#secondModal">
    Crea supervisore
</button>  
<#if (surveys?size>0)>
<#list surveys as survey>
<a href="/PollWeb/actionsurvey?id=${survey.ID}">
    <div class="row">
        <button class="btn btn-light sondaggio col-md-12" name="">
            ${survey.title}
            ${survey.openingText}
            ${survey.closingText}
        </button>
    </div>
</a>
</#list>
</#if>
<div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Crea sondaggio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/PollWeb/profile" method="post">
                    <div class="form-group">

                        <label for="FormControlInput1">Titolo</label>
                        <input name="title" type="text" class="form-control" id="FormControlInput1" required>
                    </div>
                    <div class="form-group">
                        <input style="margin-top:8px;" placeholder="E-mail supervisore" name="email" type="text" class="form-control" id="supervisor1">
                    </div>
                    <!--div class="form-group">
                        <label for="FormControlInput2">Id supervisore</label>
                        <input name="supervisor" type="text" class="form-control" id="FormControlInput2">
                    </div-->
                    <div class="form-group">
                        <label for="FormControlTextarea1">Testo di apertura</label>
                        <textarea name="opening_text" class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea2">Testo di chiusura</label>
                        <textarea name="closing_text" class="form-control" id="FormControlTextarea2" rows="3"></textarea>
                    </div>
                    <div class="form-check">
                        <input name="isPrivate" type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label style="margin-bottom: 15px;" class="form-check-label" for="exampleCheck1">Riservato</label>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <input type="submit" value="Crea" name="create" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="SecondModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SecondModalLongTitle">Crea supervisore</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/PollWeb/profile" method="post">
                    <div class="form-group">
                        <label for="FormControlInput1">Nome supervisore</label>
                        <input name="firstName" type="text" class="form-control" id="FormControlInput1" required>
                    </div>
                    <div class="form-group">
                        <label for="FormControlPart">Cognome supervisore</label>
                        <input name="lastName" type="text" class="form-control" id="FormControlPart">
                    </div>
                    <div class="form-group">
                        <label for="FormControlInputSup">E-mail supervisore</label>
                        <input name="email" type="text" class="form-control" id="FormControlSup">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    <input type="submit" value="Crea" name="super" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
