<button style="margin-top:6px" type="button" class="btn btn-secondary cazzo" data-toggle="modal" data-target="#firstModal">
    Crea sondaggio
  </button>
<button style="margin-top:6px" type="button" class="btn btn-secondary cazzo" data-toggle="modal" data-target="#firstModal">
    Crea supervisore
  </button>  
<#if (surveys?size>0)>
            <#list surveys as survey>
                <a href="/PollWeb/survey?id=${survey.ID}">
                    <div class="row">
                        <button class="btn btn-light sondaggio col-md-12" onClick="">
                            ${survey.title}
                            ${survey.openingText}
                            ${survey.closingText}
                        </button>
                    </div>
                </a>
            </#list>
        </#if>
        <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Crea sondaggio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="creazione_domande.html" method="post">
                            <div class="form-group">
                                <label for="FormControlInput1">Titolo</label>
                                <input name="title" type="text" class="form-control" id="FormControlInput1" required>
                            </div>
                            <#if logged = "admin">
                            <div class="form-group">
                                <label for="FormControlInput2">Inserisci supervisori</label>
                                <input name="supervisorID" type="text" class="form-control" id="FormControlInput2">
                            </div>
                            </#if>
                            <div class="form-group">
                                <label for="FormControlTextarea1">Testo di apertura</label>
                                <textarea name="openingText" class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="FormControlTextarea2">Testo di chiusura</label>
                                <textarea name="closingText" class="form-control" id="FormControlTextarea2" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="FormControlSelect1">Numero di domande</label>
                                <select class="form-control" id="FormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                        <button class="btn btn-primary" data-toggle="modal">Avanti</button>
                    </div>
                </div>
            </div>
        </div>
