          
<#if (surveys?size>0)>
            <#list surveys as survey>
                <a href="/PollWeb/survey?id=${survey.ID}">
                    <div class="row">
                        <button class="btn btn-light sondaggio col-md-12" onClick="">
                            ${survey.title}
                            ${survey.openingText}
                            ${survey.closingText}
                        </button>
                    </div>
                </a>
            </#list>
        </#if>
    
