<!DOCTYPE html>

    <div class="container">

        <div class="bd-login">
            <nav class="nav bg-light">
                <div onclick="openTab(event,'tab1')" class="col-md-6 tab-button tab-name">
                    <a class="tab-name">Login admin/sup.</a>
                </div>
                <div onclick="openTab(event,'tab2')" class="col-md-6 tab-button tab-name tab-selected">
                    <a class="tab-name">Login utente</a>
                </div>
            </nav>
            <div class="card bg-light">
                <div class="tab-folder">
                    <div id="tab1" class="card-body tab-content tab-admin">
                        <h5 class="card-title">Login admin/supervisore</h5>
                        <form method="post">
                            <div class="form-group">
                                <label for="InputEmail1">E-mail</label>
                                <input name="emailAS" type="email" class="form-control" id="InputEmail1"
                                    aria-describedby="emailHelp" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <label for="InputPassword1">Password</label>
                                <input name="passwordAS" type="password" class="form-control" id="InputPassword1"
                                    placeholder="Password">
                            </div>
                            <button value="loginAS" name="loginAS" type="submit" class="btn btn-primary tasto-login">
                                <a class="tasto-accedi">Accedi come admin/supervisore</a>
                            </button>
                        </form>
                    </div>
                    <div id="tab2" class="card-body tab-content tab-user">
                        <h5 class="card-title">Login utente</h5>
                        <form method="post">
                            <div class="form-group">
                                <label for="InputEmail1">E-mail</label>
                                <input name="email" type="email" class="form-control" id="InputEmail1"
                                    aria-describedby="emailHelp" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <label for="InputPassword1">Password</label>
                                <input name="password" type="password" class="form-control" id="InputPassword1"
                                    placeholder="Password">
                            </div>
                            <button value="login" name="login" type="submit" class="btn btn-primary tasto-login">
                                <a class="tasto-accedi">Accedi come utente</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function openTab(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tab-content");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab-button");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" tab-selected", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " tab-selected";
    }
</script>

</html>