
        <h3 class="card-title" style="margin-top:20px">${survey.title}
            <button type="button" class="btn btn-secondary">Download</button>
            <button type="button" class="btn btn-secondary">Modifica</button>
            <form style="display: inline-block;" action="/PollWeb/actionsurvey" method="post">
                    <input type="hidden" name="pollID" value="${survey.ID}"/>
                    <input type="submit" class="small-btn" name="close" value="Chiudi" />
                </form>
            <button type="button" class="btn btn-secondary">Disattiva</button>
            <button type="button" class="btn btn-secondary">Chiudi</button>
            <form style="display: inline-block;" action="/PollWeb/actionsurvey" method="post">
                    <input type="hidden" name="pollID" value="${survey.ID}"/>
                    <input type="submit" class="small-btn" name="delete" value="Elimina" />
                </form>
        </h5>
        
        <#if (questions?size>0)>
        <div class="list-group sortable">
            <#list questions as question>
                <a href="/PollWeb/question?id=${question.ID}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row d-flex w-100">
                        <h5 class="col-md-7">1) ${question.title}</h5>
                    </div>
                    <p class="mb-1">${question.text}</p>
                </a>
            </#list>
            </div>
        </#if>