
<div class="row d-flex w-100">
    <h2 style="margin-top: 18px" class="col-md-7">${survey.title}</h2>
</div>
<p style="margin-bottom: 18px">${survey.openingText}</p>

        <form class="" action="/PollWeb/survey" name="testanswer" method="post">
    <input name="pollID" value="${survey.ID}" hidden>

<#if (questions?size>0)>
<#list questions as question>
<#switch question.type>
<#case "short">
<#include "switch/short.ftl.html">
<#break>
<#case "long">
<#include "switch/long.ftl.html">
<#break>
<#case "date">
<#include "switch/date.ftl.html">
<#break>
<#case "number">
<#include "switch/number.ftl.html">
<#break>
<#default>
<#include "switch/short.ftl.html">
</#switch>
</#list>

<input type="submit" value="Invia" name="write" class="btn btn-primary">
</form>
</#if>
