<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>PollWeb</title>
</head>

<body>
    <header>

        <nav class="navbar navbar-expand navbar-light bg-light">

            <span class="navbar-brand col-md-1">PollWeb</span>

        </nav>

    </header>
    <div class="container">

        <div class="card bd-login bg-light">
            <div id="menu" class="card-header">
                <h4 class="header-successo">Operazione riuscita</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Operazione effettuata con successo</h5>
                <a>Clicca su <a href="Admin.html">home</a> per tornare alla pagina principale.</a>
            </div>
        </div>

    </div>
    </div>
</body>

</html>